body{
  background-color: rgb(28, 40, 53);
  color:white;
  padding-top: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

h1{
  text-align: center;
  margin-bottom: 30px;
  margin-top: 10px;
  color: white;
  font-size: 35px;
}

.header-flex{
  display: flex;
  justify-content: space-between;
}

.app{
  max-width: 90%;
  margin: 0 auto;
}